**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.log
#*.tfvars
*.tfvars.json
backend.conf
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.DS_Store
.vscode/
.idea/
*.swp
*.swo

**/test_pods/
